body {
    font-family: 'TsukuARdGothic-Regular','メイリオ', Meiryo,'ヒラギノ角ゴシック','Hiragino Sans',sans-serif;
    background: linear-gradient(to right, #e1fae0, #fff6da); /* Gradient background */
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: auto;
    background: #ffffff; /* White background */
    padding: 20px;
    border-radius: 12px; /* Rounded corners */
    box-shadow: 0 4px 20px rgba(5, 4, 2, 0.1); /* Soft shadow */
}

h1 {
    text-align: center;
    color: #333;
}

input[type="text"] {
    font-family: 'TsukuARdGothic-Regular','メイリオ', Meiryo,'ヒラギノ角ゴシック','Hiragino Sans',sans-serif;
    width: calc(100% - 22px);
    padding: 12px; /* Increased padding */
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 8px; /* Rounded corners */
    font-size: 16px; /* Increased font size */
}

button {
    font-family: 'TsukuARdGothic-Regular','メイリオ', Meiryo,'ヒラギノ角ゴシック','Hiragino Sans',sans-serif;
    width: 100%;
    padding: 12px; /* Increased padding */
    background-color: #e17e7e; /* Softer pink background */
    color: white;
    border: none;
    border-radius: 8px; /* Rounded corners */
    cursor: pointer;
    font-size: 16px; /* Increased font size */
    transition: background-color 0.3s; /* Smooth transition */
}

button:hover {
    background-color: #e23b25; /* Slightly darker pink on hover */
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 12px; /* Increased padding */
    border-bottom: 1px solid #eee;
    background-color: #fafafa; /* Light gray background for list items */
    border-radius: 8px; /* Rounded corners */
    margin-bottom: 8px; /* Space between list items */
}
